<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.channel.application">

    <supports-screens
        android:anyDensity="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true" />
    <!--
    Remove permissions that your app doesn't require, asking for authority over unwanted information can cause damage to your reputation among your users
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <!-- remove location.gps feature if not using permission ACCESS_FINE_LOCATION -->
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />


    <application
        android:name="com.channel.application.ApplicationMain"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/application_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="false">

        <activity
            android:name="com.channel.application.StarterActivity"
            android:label="@string/application_name"
             android:theme="@style/AppTheme.Splash">
            <intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.channel.application.YouTubeTaskActivity"
            android:label="@string/application_name" 
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.channel.application.ApplicationActivity"
            android:label="@string/application_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.channel.application.AuthActivity"
            android:label="@string/application_name"
            android:theme="@style/AppTheme.NoActionBar" />
        
        <activity
            android:name="com.channel.application.ImagePickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        
        <activity
            android:name="com.channel.application.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Camera" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.channel.application.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/imagepicker_file_paths" />
        </provider>
        
      <meta-data
          android:name="android.max_aspect"
          android:value="4.0"/>

    </application>
	
</manifest>
